[build]
  command = "prisma generate --no-engine && next build"
  publish = ".next"

[build.environment]
  NEXT_PUBLIC_API_URL = "/"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  external_node_modules = ["@prisma/client", "alphavantage"]
  node_bundler = "esbuild"

[functions.fetch-stocks]
  schedule = "45 22 * * 1-5" # 6:45 PM Eastern (EST) = 22:45 UTC, Monday-Friday 